@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Roboto');
html {
    background-color: rgb(178, 180, 179);
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(118, 131, 134);

}


.checked {
    font-size: 32px;
    color: orange;
}

.prof {
    display: flex;
    flex-direction: row;
}

.prof_img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 10px;
}

/* .prof_status {
    height:20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    top: 68px;
    right: 61px;
    border: 2px solid white;
} */

.prof_name {
    align-self: center;
    margin: 15px;
}

h4 {
    font-size: 32px;
}

.feed {
    font-family: 'Dawning of a New Day', cursive;
}

.label {
    font-weight: bold;
}

.name_rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}


.home_txt , .meetup_txt , .msg_txt , .myprof_txt {
    margin-top: 0;
}

.btn_home , .btn_meetup , .btn_msg , .btn_prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    background-color: #e0e0e0;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home_img , .meetup_img , .msg_img , .myprof_img {
    align-self: center;
}



.feed_post {
    border-top: 5px solid black;
}

@media only screen and (min-width: 480px) {

    body {
        font-size: 32px;
    }

    h4 {
        font-size: 48px;
    }
    main {
        position: relative;
        bottom: 0;
    }
    .navbar {
        position: relative;
        top: 0;
    }
    .prof {
        height: 100%;
        width: 30%;
    }
}